body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./background1.jpg);
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 150px;
}

.container {
    background: #fff;
    padding: 30px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #333;
}

input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn {
    background-color: #28a745;
    color: #fff;
}

.edit-btn {
    background-color: #ffc107;
    color: #000;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
    margin-left: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.task-text {
    flex: 1;
    margin-right: 10px;
}

